<div class="article-container">
  <article class="results">
    <div class="inner group">
      <h2><%= @sector.name %></h2>

      <% if @sectors.empty? %>
        <p>No sectors</p>
      <% else %>
         <%= render :partial => "sector_navigation", :locals => { :from => "sector" } %>
      <% end %>
    </div>
  </article>
</div>
