<div class="article-container">
  <article class="results">
    <div class="inner group">
      <h2>All sectors</h2>

      <% if @sectors.empty? %>
        <p>No sectors</p>
      <% else %>
      <ul>
        <% @sectors.each do |sector| %>
          <li><%= link_to sector.name, browse_sector_path(:sector => sector.public_id) %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </article>
</div>
