<div class="article-container">
  <article class="results">
    <div class="inner group">
      <h2>All sectors</h2>

      <% if @sectors.empty? %>
        <p>No sectors</p>
      <% else %>
         <%= render :partial => "sector_navigation",  :locals => { :from => "sector_index" } %>
      <% end %>
    </div>
  </article>
</div>
