<!DOCTYPE html>
<html>
  <head>
    <title>Licence Finder| GOV.UK</title>
    <%= stylesheet_link_tag "licence-finder" %>
    <%= yield :section_meta_tags %>
    <%= yield :head %>
  </head>
  <body class="citizen">
    <div id="wrapper" class="answer licence-finder">
      <div class="user-test group">
        <div class="user-test-logo">
          
          <p class="bus-link-logo">Business Link</p>
        </div>
      </div>
      <section id="content">
        <header class="page-header group">
          <hgroup>
            <h1><span>Quick answer</span> Licence finder</h1>
          </hgroup>
        </header>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
